* {
    margin: 0;
    height: 100vh;
    width: 100%;
}
.main {
    position: absolute;
    width: 800px;
    height: 550;
    background-color: rgb(7, 245, 245);
}
.vid {
    position: absolute;
    width: 500; 
    height: 350;
    background: rgb(63, 58, 58);
    margin: 10px solid blue;
}